---
import type { GetStaticPaths } from "astro";

import cv from "@cv-es";

import Layout from "@/layouts/Layout.astro";
import Info from "@/components/sections/Info.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Education from "@/components/sections/Education.astro";
import Buttons from "@/components/sections/Buttons.astro";

---

<Layout title="Portafolio Hegoi">
    <main>
        <Buttons></Buttons>
        <Info cv={cv} />
        <About cv={cv} />
        <Experience cv={cv} />
        <Education cv={cv} />
        <Skills cv={cv} />
        <Projects cv={cv}/>
    </main>
    <KeyboardManager />
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }
</style>
